body {background-color: #e9ecef;
	position: relative;
}
.container{
    margin-top: 3%;
}
.div-card{
	border: 6px solid rgba(28,110,164,0.45);
	border-radius: 16px;
}

.card-size{
	padding: 2%;
	margin-top: 10%;
}
.titulo{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}
.subtitulos{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-weight: bold;
	border: 3px solid #909090;
}

.col-md-3{
    width:100%;
    float:left;
    margin:0;
}
.botao{
	text-align: center;
	margin-left: 40%;
}

.foto{
	border-radius: 50%;
	margin-top: 4%;
	margin-bottom: 4%;
}
img {
  max-width: 100%;
  display: block;
}

.image-projetos img {
  margin-left: 15%;
  margin-top: 3%;
  margin-bottom: 3%;
  box-shadow: 5px 6px 9px 2px rgba(212,204,212,1);
}

.image-perfil {
  width: 100%;
  height: 100%;
  margin-left: 37%;
}

.image-perfil img {
  -webkit-transition: all 1s ease;
  /* Safari and Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -o-transition: all 1s ease;
  /* IE 9 */
  -ms-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
}
.image-perfil:hover img {
  -webkit-transform: scale(1.25);
  /* Safari and Chrome */
  -moz-transform: scale(1.25);
  /* Firefox */
  -ms-transform: scale(1.25);
  /* IE 9 */
  -o-transform: scale(1.25);
  /* Opera */
  transform: scale(1.25);
}





@import "compass/css3";

.testimonial-quote {
    font-size: 13px;
}

.testimonial-quote blockquote {
    /* Negate theme styles */
    border: 0;
    margin: 0;
    padding: 0;

    background: none;
    color: gray;
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    text-shadow: 0 1px white;
    z-index: 600;
}

.testimonial-quote blockquote * {
    box-sizing: border-box; 
}

.testimonial-quote blockquote p {
    color: #75808a; 
}

.testimonial-quote blockquote p:first-child:before {
    content: '\201C';
    color: #81bedb;
    font-size: 7.5em;
    opacity: .3;
    position: absolute;
    top: -.4em;
    text-shadow: none;
    z-index: -300;
}

.testimonial-quote cite {
    color: gray;
    font-size: .8em; 
}
  
.testimonial-quote cite span {
    color: #5e5e5e;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px white; 
}

.testimonial-quote {
    padding: 5%;
}
.testimonial-quote.right cite {
    text-align: right; 
}